<div>
    <h1>Productos cargados</h1>
    <form action="/productos" method="post">
        <div>
            <label>Producto:</label>
            <input type="text" name="producto">
        </div>
        <br/>
        <div class="conteiner">
            <label>Precio:</label>
            <input type="text" name="precio">
        </div>
        <br/>
        <div class="conteiner">
            <label>Img:</label>
            <input type="text" name="img">
        </div> 
        <br/>       
        <button>Enviar</button>
    </form>
</div>