<div class="conteiner col-sm-6">
    <form>
        <div class="conteiner">
            <label class="font-weight-bold" for="producto">email</label>
            <input class="form-control" type="email" name="email">
        </div>
        <div class="conteiner">
            <label class="font-weight-bold" for="precio">nombre</label>
            <input class="form-control" type="text" name="nombre">
        </div>
        <div class="conteiner">
            <label class="font-weight-bold" for="img">nota</label>
            <textarea class="form-control" type="text" name="img"></textarea>
        </div>        
        <button class="conteiner btn btn-primary my-3">Enviar</button>
    </form>
</div>