<h1>FORMULARIO</h1>
<div class="conteiner">
    <form action="/productos" method="post">
        <div class="conteiner">
            <label class="font-weight-bold" for="producto">Producto:</label>
            <input class="form-control" type="text" name="producto">
        </div>
        <div class="conteiner">
            <label class="font-weight-bold" for="precio">Precio:</label>
            <input class="form-control" type="text" name="precio">
        </div>
        <div class="conteiner">
            <label class="font-weight-bold" for="img">Img:</label>
            <input class="form-control" type="text" name="img">
        </div>        
        <button class="conteiner btn btn-primary my-3">Enviar</button>
    </form>
</div>