extends inicio 

block productos

        
         each pro in productos
           h1='producto: '
           h3=pro.producto
           h1='precio: '
           h3=pro.precio
           hr
          
        
        
       
